.env
settings/llm_settings/ai_models.yml
/orpheus_tts_setup/*
functions/__pycache__/*
*/*/__pycache__/*
/outputs/*
/research/*
/uploads/*
*/*/__pycache__/*
*/*/*/__pycache__/*
temp_audio/*
venv/*
EcneAI-Qwen-3-TTS-api
logs/qwen3_service.log